/* este es un comentario de una o varias lineas */

body{

	background-color: lightblue;
}

.pDiferente{

	color: red;
}

.negritaSemantica{

	color: aqua;
}

/* Colores */
/*nombre del color */

/* codigo hexadecimal */

.pky{

	color: #FF0000;
}

.colorRGB{

	color: rgb(241, 10, 10);
}

.divHSL{

	color: white;
	width: 50%;
	background-color: hsl(177, 92%, 17%);
	padding: 20px;
	margin-top: 50px;

}